Options +FollowSymLinks
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ $1.php

RewriteRule ^promocion/(.*)/(.*)/(.*)$ ./promocion.php?cod=$3
RewriteRule ^perfil/(.*)/(.*)$ ./perfil.php?op=$2
RewriteRule ^comercio/(.*)/(.*)/(.*)$ ./comercio.php?cod=$3
RewriteRule ^novedad/(.*)/(.*)/(.*)$ ./novedad.php?cod=$3