Options +FollowSymLinks
RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ $1.php

#RewriteRule ^producto/(.*)/(.*)$ ./producto.php?id=$2
#RewriteRule ^productos/(.*)/(.*)/(.*)/(.*)$ ./productos.php?$1=$2&$3=$4&$5=$6
##RewriteRule ^productos/(.*)/(.*)/(.*)$ ./productos.php?pagina=$3&categoria=$3
##RewriteRule ^productos/(.*)/(.*)$ ./productos.php?pagina=$2
#RewriteRule ^contacto ./contact.php

#RewriteRule ^inicio ./index.php
#RewriteRule ^empresa ./about.php
#RewriteRule ^contacto ./contact.php
#RewriteRule ^comercios ./listingC.php
#RewriteRule ^promociones ./listingP.php
#RewriteRule ^perfil/(.*)/(.*)$ ./profile.php?id=$2

#RewriteRule ^blog/(.*)/(.*)$ ./blog.php?id=$2

RewriteRule ^perfil/(.*)/(.*)/(.*)$ ./profile.php?usuarios=$2&cod=$3
